* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.green {
    background: green;
}
.red {
    background: red;
}
.orange {
    background: orange
}